.head{
    color: red;
    text-transform: capitalize;
}
.first{
    color: brown;
    font-style: oblique;
    font-size: 1.5em;
}
.hair{
    width: 250px;
}
.bonus{
    color: gold;
    text-transform: capitalize;
}
.flags{
    color: red;
    text-transform: capitalize;
}
.table{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    text-transform:capitalize
}
.prof{
    color: orangered;
    text-transform: capitalize;
    font-size: 1.2em;
}
.mentor{
    text-transform: capitalize;
}
.border{
    color: wheat;
    background-color: black;
}
.data{
    color: gold;
    background-color: black;
    text-transform: capitalize;
}
.image{
    width: 150px;
}