.flags{
    color: red;
    text-transform: capitalize;
}
.table{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    text-transform:capitalize
}
.border{
    color: wheat;
    background-color: black;
}
.data{
    color: gold;
    background-color: black;
    text-transform: capitalize;
}
.image{
    width: 150px;
}
.home{
    color: purple;
    
}